/* GENERAL RULES */
html {
    font-size: 16px;
}

/* HEADER > NAVBAR */
#task-navbar {
    display: flex;
    background-color:#183889;
    flex-direction: row;
    justify-content: space-around;
}

.float-right {
    float: right;
    display: inline;
    width: 25%;
}
#exit {
    width: 15%;
    float: right;
    padding: 0 1em;

}
#edit {
    width: 13%;
    float: right;
    padding: 0 1em;
}

#company-logo {
    min-width: 100px;
    height: auto;
    width: 25%;
}
#search-bar {
    width: 20%;
}
img #notification{
width: 2rem;
}
img #mail {
width: 2rem;
}
/*  MAIN */
h1 {
    padding: 2%;
    color: #183889;
}


/*  ---------   INDEX.HTML   --------- */
.container-index {
    display: flex;
}

.container-index > .card-group > .card {
    margin: 0 2rem;
}

.card-group {
    display: flex;
    flex-wrap: row wrap; !important;
  }

  #card-1:hover {
    cursor: pointer;
    transform: scale(1.1);
    background-color: rgba(173, 216, 230, 0.415);
}
.card-title {
    background-color: #183889;
    color:white;
    padding: 2rem;
}
.card-body-task {
    text-align: center;
    color: #183889;
    padding-top: 50%;
}
.card-body-task img{
    align-items: center;
    width: 50%;
    vertical-align: middle;
    
}


/*  ----------  FORM.HTML   ---------  */
.container-form {
    padding: 10rem 2rem;
    margin: 0 10rem;
    border: .5px dashed grey;
    display: flex;
    flex-direction: column;
    margin: auto;
    max-width: 50rem;
    min-width: 30rem;
    
}

.form-group {
    padding: .75em 0;
    margin: 1rem;
}

#formDates {
    display: flex;
    justify-content: space-between;
}

.padding-form-3 {
    margin-right:6%;
    
}

.padding-form {
    margin: 0 5%;
}

.btnSubmit {
    background-color: #183889;
    padding-right: 2em;
}

#btnSubmit {
    background-color: #183889;
    padding-left: 2em;
}

.pop-up-h1 {
    Color: #183889;
    Font-weight:700;
    margin-top: -3em;
}

#addTaskName {
    display: inline;
}

.shift-margin-right {
    margin-right: 4%;
}