/* GENERAL RULES */
html {
    font-size: 16px;
}

/* HEADER > NAVBAR */
#task-navbar {
    display: flex;
    background-color:#183889;
    flex-direction: row;
    justify-content: space-around;
}

.float-right {
    float: right;
    display: inline;
}

#company-logo {
    min-width: 100px;
    height: auto;
}

/*  MAIN */
h1 {
    padding: 2%;
}

/*  INDEX.HTML  */
.container-index {
    display: flex;
    flex-wrap: wrap;
}

.container-index > .card-group > .card {
    margin: 0 2rem;
}


/*  FORM.HTML*/
.container-form {
    padding: 10rem 2rem;
    margin: 0 10rem;
    border: .5px dashed grey;
    display: flex;
    flex-direction: column;
    margin: 2rem;
    max-width: 50rem;
    min-width: 30rem;
}

.form-group {
    padding: .75em 0;
    margin: 1rem;
}

#formDates {
    display: flex;
    justify-content: space-between;
}

.padding-form-3 {
    margin: 0 3%;
}

.padding-form {
    margin: 0 5%;
}

.btnSubmit {
    background-color: #183889;
}

#btnSubmit {
    background-color: #183889;
}

.pop-up-h1 {
    Color: #183889;
    Font-weight:700;
    margin-top: -3em;
}
